@import url(styles.css);
:root{
    /* --colr-Verde-Basilico */
    /* --colr-Bianco-Mozzarella */
    /* --colr-Rosso-Pomodoro */
    /* --colr-Giallo-Grana */
    /* --colr-Arancione-Crosta */
    /* --colr-Scuro-Oliva */
    
    
    /* fonts */
    --font-titoli: 'Pacifico', cursive;
    --font-tutto-altro: 'Raleway', sans-serif;

    /* for border */
    --border-dashed-mozzarella: 7.5px dashed var(--colr-Bianco-Mozzarella);
}

body{
    font-family: var(--font-tutto-altro);
    background-image: url("../image/Forno/fornoLegn-pizza.webp") !important;
    button{
        color: var(--colr-Scuro-Oliva) !important;
    }
}
p{
    margin-block: 1rem;
    margin-block: 1lh;
}
/* .btn{
    border-color: var(--colr-Bianco-Mozzarella) !important;
    color: var(--colr-Bianco-Mozzarella);
} */

/* Header */
#header-Pizza-Diavola{
    width: 100vw;
    height: 100vh;
    nav, main, footer{ 
        border:  var(--border-dashed-mozzarella);
        border-radius: 20px;
    }
    nav{
        top: 15px;
        background-color: var(--colr-Verde-Basilico);
        *{
            color: var(--colr-Scuro-Oliva) !important;
        }
        li:first{
            font-size: 10px;
        }
        li:hover{
            background-color: var(--colr-Arancione-Crosta);
        }
        .dropdown-menu{
            background-color: var(--colr-Verde-Basilico);
            :hover{
                background-color: var(--colr-Arancione-Crosta);
            }
        }
    }
    main{
        /* per Blur sfondo */
        background-color: color-mix(in srgb, var(--colr-Giallo-Grana) 35%, transparent 40%);
        backdrop-filter: blur(25px);
        -webkit-backdrop-filter: blur(5px);
        p{
            font-size: 14px;
        }
    }
    footer{
        margin-top: 20px;
    }
}

h1 {
    font-family: var(--font-titoli);
    font-size: 8rem;
    color: var(--colr-Rosso-Pomodoro);
    text-shadow: 6px 6px 6px var(--colr-Bianco-Mozzarella);
    /* margin-bottom: 1rem; */
}
/* Main */
#main-Pizza-Diavola{
    border:  10px;
    border-style: dashed;
    border-color: var(--colr-Verde-Basilico);
    background-color: color-mix(in srgb, var(--colr-Bianco-Mozzarella), transparent 67.5%);
}