
@media (max-width: 768px) {
    body {
        background-attachment: scroll;
    }
    .content {
        margin: 20px;
        padding: 20px;
    }
}        
/* Capa semitransparente para mejor legibilidad */
.content {
    background-color: rgba(255, 255, 255, 0.39);
    padding: 20px;
    margin: 50px auto;
    max-width: 800px;
    border-radius: 10px;
}