@import url(styles.css);

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: none !important;
    button{
        color: var(--colr-Scuro-Oliva) !important;
    }
    /* header, main{
        max-width: ;
    } */
}

#sect-Header-Diavola {
    width: 100dvh;
    div{
        *{
            display: inline-flex;
        }
    }
}
.lead{
    border: 5px  solid; 
    border-color: var(--colr-Rosso-Pomodoro);
    text-align: start;
}